source ~/.vimrc

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
:map <C-r> <Action>(Run)
:map <leader>r <Action>(Run)
:map <leader>t <Action>(RunClass)
:map <leader>d <Action>(Debug)
:map <leader>s <Action>(OptimizeImports) <Action>(ReformatCode)

" Find more examples here: https://jb.gg/share-ideavimrc
set clipboard+=ideaput
set idearefactormode=keep
set surround
set ideavimsupport=
